.searchPhone {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: .75rem 0;

    input {
        color: $input-foreground;
        font-size: 1rem;
        border-bottom: .5 solid $background-dark;
        padding: .5rem 0;
        width: 100%;
    }

    .resultsCount {
        text-transform: uppercase;
    }
}